# Dépendances supplémentaires
Cython

# Dépendances principales
prophet
pandas
numpy

# Dépendances pour l'analyse et la visualisation
matplotlib
plotly

# Dépendances pour l'API (si nécessaire)
fastapi
uvicorn

# Dépendances utilitaires
python-dotenv
pystan