# Dépendances supplémentaires
Cython

# Dépendances principales
prophet
pandas==1.5.3
numpy

# Dépendances pour l'analyse et la visualisation
matplotlib
plotly

# Dépendances pour l'API (si nécessaire)
fastapi
uvicorn

# Dépendances pour l'historique et l'export
sqlalchemy==1.4.41
openpyxl==3.1.2
reportlab==3.6.12

# Dépendances utilitaires
python-dotenv
pystan